 
<div id="feed_wrapper">
        <% i = @blogs.length %>
            <% y = i-10 %>
                <% @blogs = @blogs.reverse %>
                    <% while i > y && i >0 %>
                        <% @blogs.each do |t| %>
                            <div class="feed_blogs">
                                <h3><%= t.title %></h3>
                                <p>
                                    <%= t.content %>
                                </p>
                            </div>
                            <% i -= 1 %>
                                <% end %>
                                    <%end %>
                                        
</div>