<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
	
</head>
<h1 id="theblogging">THe Blogging</h1>
<body>

<nav id="navbars">
  <ul>
	<li class="layoutnavs">HOME</li>
	<li class="layoutnavs">USERS</li>
	<li class="layoutnavs"><a href='profile.erb'>PROFILE</a></li>
    <li class="layoutnavs">SETTINGS</li>
  </ul>

<nav>
	<div>HOME</div>
	<div>USERS</div>
	<div>PROFILE</div>
	<div><a href="/feed">Feed</a></div>


</nav>

<footer>
 
</footer>
</body>
<div id="backgroundimg"></div>
<div class='main-container'>
	<%= yield %>
</div>