<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
</head>
<h1 id="theblogging">THe Blogging</h1>
<body>
<nav>
	<div>HOME</div>
	<div>USERS</div>
	<div>PROFILE</div>
	<div><a href="/feed">Feed</a></div>

</nav>

</body>

<div class='main-container'>
	<%= yield %>
</div>