<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<h1 id="theblogging">The Blogging</h1>
<body>

<nav id="navbars">
  <ul>
	<li class="layoutnavs"><a href="/feed">HOME</a></li>
	<li class="layoutnavs">USERS</li>
	<li class="layoutnavs"><a href='/profile'>PROFILE</a></li>
    <li class="layoutnavs"><a href='/settings'>SETTINGS</a></li>
   </ul>
</nav>


</body>

<div class='main-container'>
	<%= yield %>
</div>
<footer>

</footer>
