<h2>Welcome to the Blogging</h2>

<form action='/signin' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="password" name="password" placeholder='password'>
	<input type="submit" value="Login">
</form>

<a href="/"></a>
