

<h3>Sign in and get Blogging</h3>
<!-- <div id="login_form"> -->
	<div class="main-wrapper">

<h1 class="form-name">Log In</h1>
<form action='/signin' method='post'>
	<input type="text" name="username" placeholder='username'>
	<br>
	<input type="password" name="password" placeholder='password'>
	<br>
	<input id="Login_button" type="submit" value="Login">
	<br>
<p>Don't have an account? <a href="/signup">Click here</a></p>

</form>
</div>
<!-- </div> -->

