

<h3>Sign in and get Blogging</h3>

<form action='/signin' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="password" name="password" placeholder='password'>
	<input type="submit" value="Login">
</form>
<br>
<a href="/signup">Create Profile</a>

<br>
<form method="get" action="/signup">
	Dont have an account? Sign up
	<input type="submit" name="" value="Here">
</form>


<br>
<form method="get" action="/signup">
	Dont have an account? Sign up
	<input type="submit" name="" value="Here">
</form>
