<head>
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
</head>

<div id="head-style"><h1>MY PROFILE</h1></div>
<div id="current-user"><h3>Current User</h3></div>


<div id="main-wrapper">



<body id="profilebg">


<div id="create-blog"><h3>Create a blog</h3></div>

<form action='/create_blog' method='post'>
	<div><input type="text" name="title" placeholder='title'></div>
	<div><input type="text" name="content" placeholder='content'></div>
	<div><input type="submit" value="create blog"></div>

</form>
</div>
</body>