.feed_blogs{
	background-color:yellow;
	border: 2px solid;
	display: block;
	margin: 10px auto;
	width: 66%;
	font-family: 'Raleway', sans-serif;
	box-shadow: 8px 8px black;
    word-wrap: break-word;
    padding: 5px;
}

#feed_wrapper{
	 
	text-align:center;
}
