body{
	background-color:white;
}



#theblogging{
	font-family: 'Butcherman', cursive;
	font-size:50pt;
	text-align:center;
	box-shadow:3px 3px 3px 3px black;
	color:red;
	text-shadow: 5px 5px black;



}
#navbars{
	font-family: 'Butcherman', cursive;
	font-size:16pt;
	text-shadow: 1px 1px red;
	// box-shadow:5px 5px 5px 5px gray;
}
.layoutnavs{
	display: inline;
	margin: 10px auto;
	box-shadow:5px 5px 5px 5px gray;
	padding: 20px;
    justify-content: space-between;
    background-color:white;
}

a{
    color:black;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    text-align:center;
    position:absolute;
    top:23.8%;
    left:30%;
    // box-shadow:5px 5px 5px 5px gray;
}

footer {
    display: block;
}

.main-container{
	position: relative;
    margin-top: 10%;
}