.settings_forms{
	border: 2px solid red;
	text-align:center;
	margin:20px auto;
	width: 400px;
	padding-bottom: 10px;
	font-family:'Kavivanar', cursive;
	padding: 20px;
}

.settings_input{
	margin: 5px;
}