<h2>Update Account info</h2>
<form method="post" action="/update_account">
	<input type="text" name="username">
	<input type="text" name="password">
	<input type="submit" name="" value="Update Account Information">
</form>

<h2>Delete Account</h2>
<form method="post" action="/delete_account">
	<input type="submit" name="" value="Delete Account">	
</form>
