<h2>Update Account info</h2>
<form method="post" action="/update_account">
	<input type="text" name="username">
	<input type="text" name="password">
	<input type="submit" name="" value="Update Account Information">
</form>