<div id="feed_wrapper">

  <div id="feed_wrapper">
  <% @blogs.each do |t| %>

  <div class="feed_blogs">
  	<h4><%= t.title %></h4>
  	<p><%= t.content %></p>
  </div>

  <% end %>

  </div>



</div>
