<h1 id="users">USER BLOGS:</h1>
<div id="show_div_container">
	<div id="current-user"><h3><%= @user.username %></h3></div>

  <div id="show_eachblogs">
  <% @blogs.each do |t| %>

  <div class="feed_blogs">
  	<h4><%= t.title %></h4>
  	<p><%= t.content %></p>
  </div>

  <% end %>

  </div>



</div>
