<form  class="settings_form" method="post" action="/create_account" >
	<h2 class="settings_name">Sign up! </h2>
	username: <input type="text" name="username" placeholder="username" class="signup_input"> <br>
	password: <input type="password" name="password" placeholder="password" class="signup_input"><br>
	<input type="submit" name="" value="Create Account " class="signup_input">
</form>
