<form  class="settings_form" method="post" action="/create_account" id="signup_check">
	<h2 class="settings_name">Sign up! </h2>
	username: <input type="text" name="username" placeholder="username" class="signup_input"> <br>
	password: <input type="password" name="password" placeholder="password" class="signup_input" id="signup_password"><br>
	<input type="submit" name="" value="Create Account " class="signup_input"> 
</form>

<script type="text/javascript" src="javascript/main.js"></script>
